* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(cornflowerblue, turquoise);

}

button {
    font-size: 18px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.popub {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    background: darksalmon;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    padding: 15px;
    visibility: hidden;
    transition: 1s;
}

.btn--in {
    width: 95%;
    border-radius: 4px;
}

.popub h1 {
    color: #fff;
    margin-top: 40px;
}

.popub p {
    font-size: 18px;
    margin-top: 10px;
    color: #fff;
}

span {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background: rgb(0, 226, 0);
    padding: 2px 8px;
    border-radius: 50%;
    color: #fff;
    border: 4px solid #fff;

}

.btn--in {
    margin-top: 20px;
    background: rgb(0, 226, 0);
    border: none;
    color: #fff;
}

.main--button {
    background:transparent;
    border: 1px solid #000;
    width: 120px;
    height: 40px;
    border-radius: 20px;
}